.container.blog#keppler-blog
	= render 'categories'
	.row
		.col-lg-8
			.posts-wrapper
				.post
					%h2.post-title
						= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
					.post-attributes
						%ul
							%li
								%span
									%i.fa.fa-calendar
									= @post.created_at.strftime("%d %b. %Y")
							%li
								%i.fa.fa-user
								= link_to @post.user.name, "#"
							%li
								%i.fa.fa-tags
								= link_to @post.category.name, "#"
					.post-image
						= link_to blog_show_post_path(@post.permalink) do
							= image_tag @post.image
					= social_share_button_tag(@post.title)
					.post-body
						= @post.body.html_safe
				
				= render 'comments_facebook'

		= render "sidebar"