.wrapper
	.wrapper-body.container
		.actions
			= link_to posts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @post do |f|
					.row
						= f.input :image, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :title, label: "Título"
						= f.input :body, input_html: {class: "materialize-textarea"}
						= f.input :category_id, collection: @categories, label: false, include_blank: "Selecione una categoría"
						= f.input :subcategory_id
						= f.input :public, as: :checkbox_material, label: 'Publicar'
						= f.input :comments_open, as: :checkbox_material, label: 'Comentarios'
						= f.input :shared_enabled, as: :checkbox_material, label: 'Compartir en redes'
					
					.form-actions.right
						= f.button :submit, "Guardar", class: "btn"
