= title "Posts | #{@post.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, model
				= link_to post_path(@post), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: '¿Estas seguro de querer eliminar?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, model
				= link_to edit_post_path(@post), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to posts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-value.fs-body-1.tc-black-2{style: "text-align: center;"}= image_tag @post.image, style: "width: 50%;"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.title")
					.display-value.fs-body-1.tc-black-2= @post.title.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.permalink")
					.display-value.fs-body-1.tc-black-2= @post.permalink.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.body")
					.display-value.fs-body-1.tc-black-2=  sanitize(@post.body, tags: [])
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.user_id")
					.display-value.fs-body-1.tc-black-2= @post.user.name
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.category_id")
					.display-value.fs-body-1.tc-black-2= @post.category.name
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.subcategory_id")
					.display-value.fs-body-1.tc-black-2= @post.subcategory ? @post.subcategory.name : "Sin subcategoría"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.public")
					.display-value.fs-body-1.tc-black-2= @post.public ? "Si" : "No"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.comments_open")
					.display-value.fs-body-1.tc-black-2= @post.comments_open ? "Si" : "No"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.shared_enabled")
					.display-value.fs-body-1.tc-black-2= @post.shared_enabled ? "Si" : "No"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.created_at")
					.display-value= @post.created_at.strftime("%d/%m/%Y %H:%M:%S")
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.updated_at")
					.display-value= @post.updated_at.strftime("%d/%m/%Y %H:%M:%S")
				
